<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
        </li>

    </ul>
    <ul class="nav navbar-nav ml-auto" style=" margin-right: 1rem;">
        <!--<li class="nav-item hidden-md-down">-->
        <!--<a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a>-->
        <!--</li>-->
        <li class="nav-item dropdown"  >
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-flag"></span>
                <span class="hidden-md-down">语言</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" ><i class="fa fa-shield"></i> 中文</a>
                <a class="dropdown-item" ><i class="fa fa-lock"></i> 英文</a>
            </div>
        </li>
        <li class="nav-item dropdown"  ng-switch="vm.isAuthenticated()">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span>
                <span class="hidden-md-down">账号</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">


                <a class="dropdown-item"  ng-switch-when="true"><i class="fa fa-shield"></i> Lock Account</a>
                <a class="dropdown-item" ng-click="vm.logout()"  ng-switch-when="true"><i class="fa fa-lock"></i> Logout</a>

                <a class="dropdown-item" ng-click="vm.login()"  ng-switch-when="false"><i class="fa fa-shield"></i> 登录</a>
                <a class="dropdown-item" ui-sref="register"  ng-switch-when="false"><i class="fa fa-lock"></i> 注册</a>
            </div>
        </li>
    </ul>
</header>

