    <nav class="sidebar-nav" >
        <ul class="nav" >

            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard </a>
            </li>

            <li class="nav-item nav-dropdown"  ng-repeat="menu in vm.menuList | filter:{menuLevel:'1'}" >
                <a class="nav-link nav-dropdown-toggle"   ui-sref-active="active" href="#"><i class="icon-puzzle"></i> {{menu.menuName}}</a>

                <ul class="nav-dropdown-items" ng-repeat="menusub in vm.menuList | filter:{menuLevel:'2'}" >
                    <li class="nav-item "  ng-show="menusub.parentId==menu.id" >
                        <a class="nav-link " ui-sref-active="active"  ui-sref="{{menusub.url}}" ><i class="{{menusub.icon}}"></i> {{menusub.menuName}}</a>
                    </li>
                </ul>
            </li>


        </ul>
    </nav>
    <script src="js/app.js"></script>
